title: "Physics-Informed Learning for Energy Systems"
preposition: at
description: "Workshop at [ACM e-Energy 2026](https://energy.acm.org/conferences/eenergy/2026/)"
baseurl: "/learning-for-energy.github.io"
url: "https://nhchristianson.github.io" # the base hostname & protocol for your site

remote_theme: null # "DigitaleGesellschaft/jekyll-theme-conference@v3.6.1"

# Build settings
markdown: kramdown
sass:
  style: compressed

# Additional exclude from processing
exclude:
  - .github/
  - README.md
  - LICENSE.md
  - REDISTRIBUTED.md
  - purgecss.config.js
  - vendor

# Collections and their defaults
collections:
  talks:
    output: true
    permalink: /:collection/:title/
  speakers:
    output: true
    permalink: /:collection/:title/
  rooms:
    output: true
    permalink: /:collection/:title/

defaults:
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
  - scope:
      path: ""
      type: speakers
    values:
      layout: speaker
  - scope:
      path: ""
      type: rooms
    values:
      layout: room

conference:
  # Language
  lang: en

  # Show theme errors:
  show_errors: True

  # Navigation bar
  navigation:
    logo:
      name: 'Physics-Informed Learning for Energy Systems'
      url: '/'
    links:
      - name: Call for Poster Abstracts
        relative_url: /cfp/
      - name: Speakers
        relative_url: /speakers/
      - name: Register
        absolute_url: 'https://energy.acm.org/conferences/eenergy/2026/pages/registration.php'
      

  # Link Preview for Sharing
  link_preview:
    disable: true

  # Main landing page
  main:
    logo:
      img: 'eenergy_workshop_banner.png'
    links:
      - name: Call for Poster Abstracts
        relative_url: /cfp/

  # Live indications
  live:
    date: 01.01.2020
    timezone: GMT+1
    stop:       240  # in minutes
    streaming:
      enable: false
      pause:     60  # in minutes
      prepend:    5  # in minutes
      extend:     5  # in minutes
    demo:
      enable: false
      duration: 300  # in seconds
      pause:     10  # in seconds

  talks:
    # Talk categories
    main_categories:
      - name: Talk
        color: success
      - name: Transition
        color: info
      - name: Poster Session
        color: primary
      - name: Remarks
        color: warning

    # Hide icons on talk overview page
    hide_icons: false

  speakers:
    # Show first and last name
    show_firstname: true

  location:
    # Disable links to locations
    hide: false
    # URL of location / room overview page
    url: '/location'
    # Main page title shown on location/room navigation bar
    navbar_title: 'Location'
    # Show map on location main page
    map: false

  program:
    # URL of program page
    url: '/program'

    # Time steps in program table
    time_steps: 15 # in minutes

    # Show intermediary time steps (next to full hours)
    show_alltimes: true
